/* body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
#container{
	width: 1000px;
	height: 1000px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("thor.png");
    background-size: cover;
    background-position: center;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
    padding-top: auto;
	margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.empty{
    background-color: black;
    color: white;
}
.number{
    background-color: rgb(6, 148, 148);
}
.number:active{
    transform: translateY(2px);
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(1){
	background-color:red;
    font-size: 25px;
}
button:nth-child(2){
	font-size: 20px;
	background-color: #a5afd4;
}
button:nth-child(3){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
h1{
    color: white;
    font-size: 35mm;
    text-align: center;
} */

body{
	font-family: 'Open Sans',sans-serif;
	background-color: rgb(8, 0, 0);
	
}
#container{
	/* width: 1000px;
	height: 1000px;
    background-size: cover;
    background-position: center;
	margin: 20px auto;	 */
	position: absolute;
	left: 200px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("thor.png");
	background-size: cover;
    background-position: center;
	width: 1100px;
	height: 1100px;
}
#calculator{
	position: absolute;
	width: 280px;
	height: 480px;
	top: 300px;
	background-color: #eaedef;
    padding-top: auto;
	margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.empty{
    background-color: black;
    color: white;
}
.number{
    background-color: #1C1C1C;
	color: white;
}
.number:active{
    transform: translateY(2px);
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(1){
	background-color:#505050;
    font-size: 25px;
}
button:nth-child(2){
	font-size: 20px;
	background-color: #505050;
}
button:nth-child(3){
	font-size: 20px;
	background-color: #FF9500;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #FF9500;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #FF9500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #FF9500;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #FF9500;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #FF9500;
}
